<div class="layout layout__wrapper">
    <div class="layout__container">
    </div>
    <div class="layout__content">
        <div class="layout__router-wrapper">
            <div class="layout-login">
                <div class="login-wrapper">
                    <div class="login-left width--50">
                        <div class="login-info">
                            <div class="bold-XXL-label bold-XXL-label--black">Portir Program</div>
                            <div class="title-separator"></div>
                        </div>
                        <div class="background"></div>
                    </div>
                    <div class="login-right width--50">
                        <div class="home-page">
                            <div class="bold-XXL-label">Početna strana</div>
                            <div class="f f__home">
                                <label for="control" class="regular-S-label regular-S-label--gray-dark home required">
                                    Novi Ulazak
                                </label>
                                <button class="button button--primary" type="button" (click)="route('new-passage')">
                                    <span class="regular-S-label regular-S-label--black">Kreiraj</span>
                                </button>
                            </div>
                            <div class="f f__home">
                                <label for="control" class="regular-S-label regular-S-label--gray-dark home required">
                                    Pregled ulazaka
                                </label>
                                <button class="button button--primary" type="button" (click)="route('list-passages')">
                                    <span class="regular-S-label regular-S-label--black">Vidi</span>
                                </button>
                            </div>
                            <div class="f f__home">
                                <label for="control" class="regular-S-label regular-S-label--gray-dark home required">
                                    Novi Smenski Izveštaj
                                </label>
                                <button class="button button--primary" type="button" (click)="route('new-shift-report')">
                                    <span class="regular-S-label regular-S-label--black">Kreiraj</span>
                                </button>
                            </div>
                            <div class="f f__home">
                                <label for="control" class="regular-S-label regular-S-label--gray-dark home required">
                                    Imenik
                                </label>
                                <button class="button button--primary" type="button" (click)="route('address-book')">
                                    <span class="regular-S-label regular-S-label--black">Vidi</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>