<div class="layout layout__wrapper">
    <div class="layout__container">
    </div>
    <div class="layout__content">
        <div class="layout__router-wrapper">
            <div class="layout-login">
                <div class="login-wrapper">
                    <div class="login-left width--50">
                        <div class="login-info">
                            <div class="bold-XXL-label bold-XXL-label--black">Portir Program</div>
                            <div class="title-separator"></div>
                        </div>
                        <div class="background"></div>
                    </div>
                    <div class="login-right width--50 login-right__new-passage-copmonent">
                        <div class="home-page home-page__new-passage">
                            <div class="bold-XXL-label">Novi Ulazak</div>
                            <div class="scroll">
                                <div class="f f__home f__input">
                                    <label for="control"
                                        class="regular-S-label regular-S-label--gray-dark home required">
                                        Registracija Vozila
                                    </label>
                                    <input type="text" class="regular-S-label" />
                                </div>
                                <div class="f f__home f__input">
                                    <label for="control"
                                        class="regular-S-label regular-S-label--gray-dark home required">
                                        Vreme Ulaza
                                    </label>
                                    <input type="time" class="regular-S-label" />
                                </div>
                                <div class="f f__home f__input">
                                    <label for="control"
                                        class="regular-S-label regular-S-label--gray-dark home required">
                                        Vrsta unetog materijala
                                    </label>
                                    <input type="text" class="regular-S-label" />
                                </div>
                                <div class="f f__home f__input">
                                    <label for="control"
                                        class="regular-S-label regular-S-label--gray-dark home required">
                                        Ime i Prezime Vozača
                                    </label>
                                    <input type="text" class="regular-S-label" />
                                </div>
                            </div>
                        </div>
                        <div class="new-passage-button-div">
                            <button class="button button--primary" type="button" (click)="onSave()">
                                <span class="regular-S-label regular-S-label--black">Sačuvaj</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>