@import "./mixins/mixins.scss";

// Standard

@import "./standards/colors.scss";
@import "./standards/layout.scss";
@import "./standards/labels.scss";

// Components

@import "./components/login.scss";

// Elements

@import "./elements/form-elements.scss";

::-webkit-scrollbar {
    width: 4px;
    overflow-y: scroll;
    background: grey;
    box-shadow: inset 0 0 4px #707070;
    gap: 1px;
}

::-webkit-scrollbar-thumb {
    background: rgb(7, 93, 114);
    border-radius: 10px;
}