.table{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80%;
    white-space: nowrap;

    &__header{
        margin-bottom: 15px;
    }
}

.table_wrapper{
    height: 10%;
}

.table-element{
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
}

.first-element{
    background: white;
    border-radius: 0.6rem 0 0 0.6rem;
}

.last-element{
    background: white;
    border-radius: 0 0.6rem 0.6rem 0;
}

.even-element{
    background: white;
}

.odd-element{
    background: white;
}

.Extra-Text {
    background-color: rgb(7, 93, 114);
    margin-top: 10px;
    width: 200px;
    border: 2px solid #000000;
    padding: 10px;
    font-size: 16px;
    display: none;
}

.Main-Text:hover + .Extra-Text {
    display: block;
}