$c-main-background: #F6F6F6;
$c-base: #fbfcfd;
$color-box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.1);
$c-plain: #fff;
$c-primary: #cfb680;
$c-alert-danger: #d25a57;
$c-primary-text: #162c4b;
$c-active-border: #B28D45;
$black: black;